doctype html
html.
<head>
title= title
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
</head>
<body>

img(src='/images/routelogic_logo.png')

section#wrapper
    block content
    footer

<form action="demo_form.asp">
Select a file: <input type="file" name="img" id="test" accept=".xls,.xlsx" multiple="false">
<input type="button" value="Submit" onclick="mytest1();">
</form>

<script type="text/javascript" src="/javascripts/parse.js"></script>

</body>
